<!--<div class="record">-->
        <!--{{#each dashletConfig.config.fields}}-->
<!--<div class="row-fluid panel_body">-->
<!--<div class="record-cell">-->
<!--<div class="record-label">{{str label}}</div>-->
<!--{{field ../this model=../this.settings template=../this.action}}-->
<!--</div>-->
<!--</div>-->
        <!--{{/each}}-->
<!--</div>-->

<div>
    <p>
        There are currenly no configuration required except defining the API key in
        the Administration page under the "ClockworkSMS Admin Options" section.
    </p>
</div>